body {
    padding: 3px;
    margin: 0;
    background-color: #f6f6f6;

}
/*模板中样式*/
.content span{
    color: #28a76c;
}
.text_ul ul,.what ul,.ul_bq ul{
    margin: 20px;
}
.text_ul li,.what li,.ul_bq li{
    list-style-type: circle;
    color: #28a76c;
    font-size: 12px;
}
a {
    color: #28a76c;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #59ce7d;
}

.flex-column .nav-item .nav-link {
    border-bottom: #dddddd 1px solid;
    background-color: #f6f4f0;
    font-size: 14px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa;
}

.main_content {
    margin-top: 30px;
}

.container-fluid {

    padding: 0px;
    color: white;
    background-color: #f6f6f6;
}

.nav-item {
    margin: 0px 10px;
}

.form-control {
    height: 30px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #29b148;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #28a745;
}

.btn-success {
    line-height: 15px;
}

blockquote {
    background-color: #dddddd;
}

.copyright {
    margin-top: 200px;
}

.wenBen p {
    font-size: 20px;
    text-align: center;
    color: #28a76c;
    font-weight: bold;
    line-height: 30px;
}

.wenBen span:after {
    content: "✎";
    position: absolute;
    font-size: 15px;
    left: -28px;
    bottom: 0px;
    z-index: 1;

}

.wenBen span {
    text-shadow: 0px 0px 10px #dddddd;
    position: relative;
}

.wenBen a {
    text-decoration: none;
}

.wenBen {
    margin-top: 0px;
}

.textarea {
    position: relative;
}
.btn_test {
    position: absolute;
    bottom: 0;
    right: 0;
}
.text-muted{
    font-size: 1rem;
}
.area_text {
    margin-top: 60px;
}

.bg-light {
    color: #28a76c;
}

.bg-light, .plXx {
    padding-left: 20px;
}

.fa {

    font-size: 20px;
}

.heart_o {
    color: #495057;
}

.heart_ha {
    color:#28a76c;
}
.container {
    background-color: white;
}
.navbar-nav{
    padding: 0px;
}
.content{

}