body {
    padding: 0px;
    margin: 0;



}
#loading{
    width: 100%;
    height: 100%;
    background: #1ce25e;
  }
  #loading li{
    width: 20px;
    height: 20px;
    background-color: #1ce25e;
  }
/*模板中样式*/
.content span{
    color: #28a76c;
}
.content{
    
}
.text_ul ul,.what ul,.ul_bq ul{
    margin: 20px;
}
.text_ul li,.what li,.ul_bq li{
    list-style-type: circle;
    color: #28a76c;
    font-size: 12px;
}
a {
    color: #28a76c;
    text-decoration: none;

}

a:hover {
    color: #59ce7d;
}

.flex-column .nav-item {
    box-shadow: 0px 0px 4px #dddddd;
  
    font-size: 14px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa;
}
.aside_a{
    background-color: #f6f6f6;
}
.aside_a:hover {
    color:#29b148;
    font-size: 15px;
}
.active_li{
    background: #A1FFCE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.a_href{
    font-size: 14px;
    font-family:proxima-nova,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.aside_a:active{
    background-color: #59ce7d;
}
.bar_top{
    background: #53d371;
    color: white !important;
    font-weight: 600;
}


.main_content {
    margin-top: 5px;
}
/*宽度整个屏幕*/
.container-fluid {

    padding: 0px;
    color: white;
    background-color: #f6f6f6;
}
.nav-item{
    box-sizing: border-box;
}


/*星星*/
.disabled i{
    margin-left: 10px;
    font-size: 1rem;
}
/*导航栏无下划线*/
.form-control {
    height: 30px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #29b148;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #28a745;
}

.btn-success {
    line-height: 15px;
}

blockquote {
    background-color: #dddddd;
}

.wenBen p {
    font-size: 20px;
    text-align: center;
    width: 260px;
    color: #28a76c;
    font-weight: bold;
    line-height: 30px;
    margin: 0px auto;
}
.ni{
    position: absolute;
    color: #28a76c;
    font-size: 1.5rem;
    font-style: oblique;
    text-shadow: 1px 1px 6px #59ce7d;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}
.niclass{
    height: 298.5px;
}
.comment{

    position: relative;
}
.wenBen span:before {
    content: "✎";
    position: absolute;
    font-size: 15px;
    left: -28px;

    z-index: 1;

}
.wenBen span:after{
    content: "";
    display: block;
    clear: both;
}

.wenBen span {
    text-shadow: 0px 4px 6px #28a76c;
    position: relative;



}

.wenBen a {
    text-decoration: none;
}

.wenBen {
    margin-top: 20px;
}
.wenBen p span{
    cursor:pointer;
}

.textarea {
    position: relative;
}
.btn_test {
    position: absolute;
    bottom: 0;
    right: 0;
}
.text-muted{
    font-size: 1rem;
}
.area_text {
    margin-top: 5px;

    background: #f6f6f6;
}

.bg-light {
    color: #28a76c;
}



.fa {

    font-size: 20px;
}

.heart_o {
    color: #495057;
}

.heart_ha {
    color:#28a76c;
}
.heart_o,.heart_ha{
    position: relative;
}
.navbar_li{
    background:rgb(83,211,113);
}
.navbar-nav{
    padding: 0px;
}
.navbar-nav li a:hover{
    text-decoration: none;
}

.gu{
    position: fixed;
    right: 10px;
    top: 80%;
    width: 3rem;
    z-index: 1000;
    background: whitesmoke;
    box-shadow: 1px 1px 10px #dddddd;
    color: #28a76c;
}
.gu img{
    position: absolute;
    right: 44px;
    bottom: 0px;

}
.ding,.ma{
    text-align: center;
    border-bottom:#dddddd 1px solid;
    height: 40px;
    line-height: 40px;
}
/*12 -10改*/
.p_hover{
    position: relative;
    cursor: help;
}

.tiShi{
    content: '';
    position: absolute;
    overflow: hidden;
    word-wrap: break-word;
    left: 10px;
    bottom: 25px;
    background: #28a76c;
    border-radius: 10%;
    box-shadow: 1px 1px 5px #28a76c;
    z-index:1;
    font-size: 16px;
    line-height: 40px;
    text-align: center;

}
/*['HTML简介','HTML编辑器','HTML元素',*/
/*'HTML属性','HTML表格','HTML脚本','HTML速查列表']*/
.tri{
    content: '';
    position: absolute;
    top: -5px;
    left: 20px;
    border-color: #28a76c transparent transparent transparent;
    border-width: 5px;
    border-style: solid;
}

.fa-heart span{
    position: absolute;
    right:4px;

}
.fa-heart,.fa-trash{
    box-shadow: 0px 1px 8px #a6d6b5;
    height: 30px;
    line-height: 30px;
    width: 60px;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
}


.p_gp>hr{
    background: #28a745;

}
.p_gp{
    margin: 20px 0px;
}
/*右侧栏*/
.aside_right{
    display: flex;
    justify-content: center;
}
.box_right{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    writing-mode: vertical-lr;
    letter-spacing: 80px;
    font-size: 20px;
    border-radius: 4px;
    width: 90%;
    
}
.aside{
    padding: 0px;
}
.content{
    background: #f6f6f6;
}
.p_row{
    color: white;
    cursor: pointer;
    margin: 20px 20px;
    
    text-shadow: 0px 0px 20px #ffffff;


}
.all{
    position: relative;

}
label>input{
    margin-top: 4px;
}
.fa-clock-o{
   display: flex;
   justify-content: flex-start;
   align-items: center;
    
}
/* 评论区
 */
 .text_area{
     margin-left: 15px;
 }
 .text_mag{
    margin-left: 5px;
 }
 /* loading样式 */
 #loading{
    width: 100%;
    height: 100%;
    background: rgb(176, 233, 195);
  }
  #loading ul{
    width: 500px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }

  #loading li{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    border-color: whitesmoke;
    border-width: 1px;
    border-style: solid;
    top: 40px;
    left: -10px;
    box-shadow:0px 2px 5px white;
    list-style: none;

  }
  #one{
    animation: li_one 4s infinite;
  }
  #two{
    animation: li_two 4s infinite 1s;
  }
  #three{
    animation: li_three 4s infinite;
  }
  #four{
    animation: li_four 4s infinite 1s;
  }
  #four li:last-child{
    

  }
  @keyframes li_one{
    0%{transform: rotateZ(-360deg);}
    50%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(360deg);}
  }
  @keyframes li_two{
    0%{transform: rotateZ(-360deg);}
    50%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(360deg);}
  }
  @keyframes li_three{
    0%{transform: rotateZ(-360deg);}
    50%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(360deg);}
  }
  @keyframes li_four{
    0%{transform: rotateZ(-360deg);}
    50%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(360deg);}
  }
  #one{
    background-color:white;
    
    border-color: transparent transparent transparent transparent;
  }
  #two{
    background-color: white;
    
    border-color: transparent transparent transparent transparent;
    
  }
  #three{
    background-color:  white;
    
    border-color: transparent transparent transparent transparent;
  }
  #four{
    background-color: white;
    
    border-color: transparent transparent transparent transparent;
  }
  #one,#two,#three,#four{
    width: 0px;
    height: 40px;
    display: inline-block;
    position: relative;
    border-width:2px;
    border-style: dotted;
    margin: 0px 0px;
    
  }
